/*Imported Google font*/
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    /*Asterisk to ovverride browser default setting*/
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    border: 3px solid;
    border-radius: 25px;
    padding: 25px 10px;
    background-color: grey;
    text-align: center;
}

/*Code for the name of the game*/
#heading {
    font-size: 50px;
    font-family: 'Bakbak One', cursive;
    color: black;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.gameContent{
    margin-top: 9px;
}
#gameAreah1{
    background-color: white;
}
 /*Button section*/
.choiceBtn{
    line-height: 30px;
    width: 150px;
    margin-top: 1em;
}

#playerText{
    color:blue ;
}

#computerText {
    color: green;
}
#resultText {
    color: black;
}
/*make the correct and incorrect answer inline*/
.scores{
    display: inline-block;
    padding-top: 20px;
    margin-top: 10px;
    font-size: larger;
    letter-spacing: 1px;
    padding-right: 20px;
    font-weight: 700;

}

footer{
    margin-top: 1em;
    padding: 25px;
}

@media screen and ( min-width: 992px){
    .choiceBtn:hover{
        background-color:orangered;
    }
    
    #heading{
        margin-top: 10px;
        padding: 25px;
    }
    
}